body {
    background-image:  url("../images/fraeraf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: beige;
    font-family: 'Englische';
    text-align: center;
    text-align: center;
}
div {
    --border: 1px solid red;
}
.riquadro#landscape {
    display: none;
    background-color: rgba(255, 255, 255, 0.4);
    color: #3b3929;
    font-weight: bold;
    height: 63vw;
    width: 100%;
}
.riquadro#portrait {
    display: none;
    background-color: rgba(255, 255, 255, 0.4);
    color: #3b3929;
    font-weight: bold;
    height: 90%;
    margin: auto;
    width: 90%;
}
#landscape > .nome {
    position: relative;
    width: 35vw;
    font-size: 4vw;
    top: 5vw;
}
#portrait > .nome {
    position: relative;
    width: 50vw;
    font-size: 7vw;
    top: 5vw;
}
.left {
    left: 7vw;
    float: left;
    text-align: center;
}
.center {
    float: center;
    margin: auto;
    width: 100%
    text-align: center;
}
#portrait > .small {
    font-size: 5vw;
}
.right {
    right: 7vw;
    float:right;
    text-align: center;
}
@font-face {
    font-family: 'Englische';
    src: url('../fonts/EnglischeSchT.ttf');
}
div#landscape > .centertext {
    position: relative;
    float: center;
    text-align: center;
    position: relative;
    top: 10vw;
    width: 50vw;
    height: 37vw;
    font-size: 4vw;
    margin: auto;
}
div#portrait > .centertext {
    position: relative;
    float: center;
    text-align: center;
    position: relative;
    top: 7vw;
    width: 70vw;
    height: 60vw;
    font-size: 7vw;
    margin: auto;
}
div#landscape > .centertext > .cerimonia {
    position: relative;
    top: 2vw;
    font-size: 3vw;
}
div#portrait > .centertext > .cerimonia {
    position: relative;
    top: 2vw;
    font-size: 5vw;
}
div#landscape > .inbasso {
    position: relative;
    float: center;
    top: 10vw;
    width: 100vw;
    font-size: 3vw;
    right: 3vw;
    text-align: center;
}
div#portrait > .inbasso {
    display: block;
    position: relative;
    float: center;
    top: 10vw;
    margin: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 5vw;
    text-align: center;
}
.esterno {
    display: table;
    width: 100%;
    height: 100%;
}
#fuori {
    height: 250px
}
#floater {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
}
#dentro {
    clear: both;
    height: 100px;
}
a:link {
    color: beige;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: beige;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: white;
    text-decoration: underline;
}
/* selected link */
a:active {
    color: blue;
    text-decoration: none;
}
